[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

matplotlib = "*"
seaborn = "*"
plotly = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
pytube = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
